body {
    background-color: white;
}
*{
    margin: 0;
    padding: 0;
}
nav ul{
    display: flex;
    list-style-type: None;
    height: 65px;
    background-color: black;
    color: white;
    align-items: center;
    /* word-spacing: 55px; */

}
nav ul li{
    padding-left: 10px;
    padding-right: 10px;
}
.NAV {
    /* display: flex; */
    align-items: center;
    font-weight: bolder;
    color: white;
    font-size: 1.3rem;
}
.NAV img {
    width:45px;
    padding-left: 1px;
    padding-right: 2px;
}
.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    width:70%;
    display: flex;
    margin: 20px auto;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.bottom {
    height:100px;
    background-color: black;
    /* align-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    flex-direction: column;
}
.icons {
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}
#progressBar {
    
    width:90vw;
    align-items: center;
    cursor: pointer;
}
.songItem {
    height:50px;
    display: flex;
    background-color: white;
    width:100%;
    color: black;
    margin: 12px 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
}
.songItem img{
    width: 50px;
    margin: 0 23px;
}
.timeStamp {
    margin: 0 23px;
}
.songInfo {
    position: absolute;
    left:5vw;
}
.songInfo img {
    opacity:0;
    transition: opacity 0.4s ease-in;
}